* {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  list-style: none !important;
  text-decoration: none !important;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to left,rgb(29, 35, 42) ,rgb(0, 0, 0));
}


:root {
  --text-color:#44545C;
  --main-color: #7CA4D4;
  --white-color:#E9EAEB;
  --four-color:#647C94;
  --last-color:#707874;
}



h1{
  font-size: 2.2rem;
  margin-top: 1%;
  font-weight: 600;
  color: var(--white-color);
  text-align: center;
}

input[type="submit"] {
  width:240px;
  height:35px;
  border: 2px solid var(--main-color);
  display:block;
  font-size:16px;
  font-weight:bold;
  color:var(--text-color);
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  padding-top:6px;
  margin: 29px 29px;
  position:relative;
  cursor:pointer;
  border-radius: 20px;
  background-color: var(--main-color);
}


input[type="submit"]:hover{
  transform: scale(1.1);
transition: .5s;
background-color: transparent;
color: var(--white-color);
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
-webkit-transition: .5s;
-moz-transition: .5s;
-ms-transition: .5s;
-o-transition: .5s;


}

input[type="password"], input[type="text"] {
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  height: 39px;
  margin: 31px 0 0 29px;
  padding-left: 37px;
  width: 240px;
}










